/*
Aufgabe 2: Skipiste mit Funktionen
         Name: Claudia Wegen
         Matrikel: 256214
Datum: 18.10.2017

Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.
*/

body {
    background-color: #ffffff;
}

canvas {
    max-width: 90%;
    padding: 0;
    margin: auto;
    display: block;
    border: 1px solid #cecece;
}
